{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<section class="galeria" style="margin-left: 5em; width: 100%;">
    <form action="{% url 'editar_imagem' foto_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for field in form.visible_fields %}
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label style="color:#D9D9D9; margin-bottom: 5px; display: block;" for="{{field.id_for_label}}">
                    {{ field.label}}
                    {{ field }}
                </label>
            </div>
            {% for erro in field.errors %}
                <div class="alert alert-danger" role="alert" style="color: #FF3366; background: rgba(255, 51, 102, 0.1); border: 1px solid #FF3366; border-radius: 6px; padding: 8px 12px; margin-bottom: 10px;">
                    {{ erro }}
                </div>
            {% endfor %}
            {% endfor %}
        </div>
        <div>
           <button class="btn btn-success col-12" style="padding-top: 8px; padding-bottom: 8px; cursor: pointer;" type="submit">Editar Imagem</button>
        </div>
    </form>
</section>

{% endblock %}
