{% load static %}
<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
        <a href="{% url 'index' %}"><img src="{% static 'assets/icones/1x/Home - ativo.png' %}" alt="Ícone Home"> Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'nova_imagem' %}"><img src="{% static 'assets/icones/1x/new_imagem.png' %}" alt="Ícone Nova imagem"> Nova imagem</a>
            <a href="{% url 'logout' %}"><img src="{% static 'assets/icones/1x/Surpreenda-me - inativo.png' %}" alt="Ícone Logout"> Logout</a>
        {% else %}
            <a href="{% url 'login' %}"><img src="{% static 'assets/icones/1x/Mais vistas - inativo.png' %}" alt="Ícone Login"> Login</a>
            <a href="{% url 'cadastro' %}"><img src="{% static 'assets/icones/1x/Novas - inativo.png' %}" alt="Ícone Cadastro"> Cadastrar</a>
        {% endif %}
    </nav>
</section>
